@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #E1F7F5;
    --cor-tercearia: #0E46A3;
    --cor-hover: #075058;

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentacao__conteudo_imagem {
    display: flex;
    align-items: end;
    gap: 20px; /* Espaçamento entre a imagem e o texto */
}

.imagem {
    height: auto; /* Isso garante que a imagem mantenha a proporção correta */
    max-height: 200px; /* Ajuste a altura máxima conforme necessário */
}

.cabecalho {
    padding: 2% 0 0 12%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--cor-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
}

.apresentacao {
    padding: 6% 12%;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto; /* Centralizar o conteúdo */
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo_p {
    font-size: 24px;
    font-family: var(--font-secundaria);
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--font-primaria);
}


.titulo-destaque {
    color: var(--cor-tercearia)
}


.apresentacao__links {
    display: flex;
    flex-direction: column; /* Alterando para coluna */
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link {
    height: 70px;
    border: 2px solid var(--cor-tercearia);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px, 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.rodape {
    padding: 15px;
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 400;
}
